.App {
  /* text-align: center; */
}

#info {
  float: left;
}

#img {
  float: right;
  padding-left: 40px;
  padding-top: 60px;
}

#values {
  float: right;
  padding-left: 40px;
}
#infobox {
  display: inline-block;
  float: none;
}

.clearfix {
  /* clear: both; */
}

button {
  background-color: #1e2b9c;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  /* display: inline-block; */
  /* text-align: center; */
}
